<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>QR</title>

    <link rel="stylesheet" href="../static/style.css">
    <style>
        
    </style>
</head>
<body>
    <div id="container">
        <div id="qr-code">
            <img src="{{ url }}" alt="QR code">
            <a href="{{ url }}">
                <button id="download-button">Download</button>
            </a>
        </div>
    </div>
</body>
</html>