<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>QR</title>

    <link rel="stylesheet" href="../static/style.css">
    <style>
        
    </style>
</head>
<body>
    <div id="container">
        <div id="qr-code">
            <img src="https://qr.manukrishna.tech/qr?size=10&padding=2&url=https://manukrishna.tech&qrcolor=%23000000&bgcolor=%23ffffff" alt="QR code">
            <a href="https://qr.manukrishna.tech/qr?size=10&padding=2&url=https://manukrishna.tech&qrcolor=%23000000&bgcolor=%23ffffff" download>
                <button id="download-button">Download</button>
            </a>
        </div>
    </div>
</body>
</html>